site_name: Meta-Docs Public site
site_description: Curated public notes and documentation from the Meta-Docs collection at Dynamic Ontology.
site_url: https://dynamicontology.com/

docs_dir: docs
site_dir: site

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - content.code.copy

markdown_extensions:
  - admonition
  - toc:
      permalink: true

plugins:
  - search
